{{ csrf_input() | raw }}
<div class="row">
    <div class="col-md-6">
        {{ field('name', item.name, 'Post title') }}
    </div>
    <div class="col-md-6">
        {{ field('category_id', item.category_id, 'Category', {options: categories}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {% if item.image %}
            <img src="{{ item.thumb }}" alt="" style="width: 100%">
        {% endif %}
    </div>
    <div class="col-md-4">
        {{ field('image', item.smug, "Image", {type: 'file'}) }}
    </div>
    <div class="col-md-4">
        {{ field('slug', item.slug, 'Link')  }}
    </div>
</div>
{{ field('content', item.content, 'Content', {type: 'textarea'}) }}
{{ field('created_at', item.created_at, 'Created date', {class: 'datepicker'})  }}