{% extends 'layout.html.twig' %}

{% block title "Home" %}

{% block body %}
    <h1>Blog</h1>
    <div class="row">
        {% for row in posts | batch(3) %}
            <div class="card-deck">
                {% for post in row %}
                    <div class="col-sm-4">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h2>{{ post.name | excerpt(30) }}</h2>
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    {{ post.content | excerpt | nl2br }}
                                </p>
                                <p class="text-muted">{{ post.created_at | ago }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}" class="btn btn-primary">
                                    See more
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        {{ paginate(posts, 'blog.index') }}
    </div>
{% endblock %}
